.grid {
    display: flex;
    margin: 0 -2em;
    flex-wrap: wrap;
    .grid_item {
        position: relative;
        width: calc(25% - 4em);
        height: 100%;
        margin: 2em;
        .poster {
            position: relative;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: white;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2em;
                font-size: 42px;
                font-weight: bold;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: opacity 0.35s ease;
            }
            img {
                border: 1px solid grey;
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            .rate {
                position: absolute;
                bottom: 5px;
                right: 0;
                width: 80px;
                height: 60px;
                border-top: 1px solid grey;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                color: white;
                font-size: 24px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(0, 128, 0, 0.5);
            }
        }
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
        h4 {
            margin-top: 1em;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
    }
}