.sliderhome {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid grey;
    .active_slide {
        .card {
            .container {
                .left {
                    opacity: 1;
                    transform: translateY(0);
                }
                .right {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 500;
        opacity: 0.4;
    }
    img.background {
        object-fit: cover;
        height: 100vh;
        animation: kenburns 50s ease-in-out infinite alternate;
    }
    .card {
        position: absolute;
        top: 50%;
        z-index: 500;
        transform: translateY(-50%);
        padding: 0 10em;
        h2 {
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: white;
        }
        .container {
            display: flex;
            .left {
                opacity: 0;
                transform: translateY(-25px);
                transition: transform 0.35s ease, opacity 0.35s ease;
                transition-delay: 0.5s;
                img.poster {
                    width: 300px;
                    height: auto;
                    object-fit: cover;
                    border: 1px solid grey;
                }
            }
            .right {
                padding-left: 2em;
                color: white;
                opacity: 0;
                transform: translateX(-25px);
                transition: transform 0.35s ease, opacity 0.35s ease;
                transition-delay: 0.75s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &_top {
                    h3 {
                        font-size: 62px;
                        text-transform: uppercase;
                        line-height: 1;
                        margin-bottom: 15px;
                    }
                    span.year {
                        display: block;
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                    p.director {
                        display: block;
                        font-size: 24px;
                        color: white;
                    }
                }
                .ratebox {
                    margin: 15px 0;
                    position: relative;
                    border: 1px solid white;
                    padding: 15px;
                    width: 140px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    backdrop-filter: blur(3px);
                    background-color: transparent;
                    &.great {
                        background-color: green;
                    }
                    &.average {
                        background-color: rgb(82, 82, 59);
                    }
                    &.horrible {
                        background-color: red;
                    }
                    span.rate {
                        position: relative;
                        top: 5px;
                        font-size: 42px;
                    }
                }
                &_bottom {
                    position: relative;
                    width: 300px;
                }
            }
        }
    }
}


@keyframes kenburns {
    0% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(1.2) translate(-5%, -5%);
    }
}